body {
	font-family: 'Slabo 27px', serif;
}
.container {
	max-width: 1000px;
	position: center;
	margin: auto;
}

.main-title {
	font-size: 200px;
	font-weight: bold;
	text-align: center;
	margin-bottom: -50px;
}

#nav {
    text-align: center;
    border-radius: 8px;
    font-size: 25px;
}

#nav ul {
    height: auto;
    padding: 8px 0px;
    font-weight: bold;
}

#nav li { 
	display: inline; 
	padding: 20px; 
}

#nav a {
    text-decoration: none;
    color: black;
    padding: 8px 8px 8px 8px;
}

#nav a:hover {
    color: grey;
    background-color: #FFF;
}

.main-text {
 width: 60%;
 float: left;
}

.recent-posts-box {
	width: 33%;
	height: 100%;
	float: right;
	border: 2px solid black;
	height: 100%;
}

.box-title {
	text-align: center;
}

.recent-posts {
	padding: 5px;

}

.bullet-points{
	padding: 20px;
}

.author-box {
	width: 100%;
}

.author-icon {
	height: 200px;
	width: 200px;
	float: left;
  margin-right: 10px;
  clear:both;
}

.author-name {
	margin-left: 0px;
  overflow:auto;
  display:block;
}

.author-bio{
	font-size: 20px;
	margin-left: 0px;
  overflow:auto;
  display:block;
}
.footer {
	clear: both;
	position: center;
	border: 1.5px solid black;
	max-width: 1000px;
	padding: 0 20px;
	text-align: center;
}

.social-logo{
	height: 30px;
	width: 30px;
}